
 html, body { height: 100%; 
  padding: 20px;
 }

body {
  background: url("/landing jaguar/images/jaguar-xe.jpg") no-repeat 50%;
background-size: cover;
height:100%;
font-family: 'Roboto', sans-serif;
}
 
@import url(https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,latin-ext);
 






@media only screen and (max-width: 599px) {

 div { 
   
    padding: 20px; 
   width: auto;
    height:auto; 






}
 }





 div { 
    background: rgba(0, 0, 0, .5); 
    padding: 30px; 
   max-width: 600px;
    
    
border-radius:10px;

color: white;

 }


